.page-title{
    text-shadow: -3px 3.5px white;
    background-color: #ef9a9a;
    text-transform: uppercase;
}
.page-link, .page-link:hover{
    border-color: #ef9a9a;
    color: #f06292;
}
img.page-card-img{
    box-shadow: 5px 5px #880e4f;
}
.page-card-img.card-img:hover {
    transition: all .1s ease-in-out;
    box-shadow: 5px 5px #f50057;
    filter: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}
.aside-card{
    background-color: #ffebee;
}
.aside-card:hover{
   filter: brightness(90%);
}
