.navbar{
    background: linear-gradient(to right,#f76e83 0%,#f45c44 100%);
}
.search-itens{
    background-color: #FF000000;
    color: white;
    box-shadow: none;
}
.form-control.search-itens{
    transition: all .3s ease-in-out;
    width: 7vw;
}
.form-control.search-itens:focus{
    transition: all .3s ease-in-out;
    width: 12vw;
}
.search-itens::placeholder {
    color: white;
  }
.search-itens:focus::placeholder{
    color: grey;
}