.navbar{
    background: linear-gradient(to right,#f44336 0%,#b71c1c 100%);
}
.footer-list, .footer-list ul li{
    background-color: #b71c1c;
}
.footer-description{
    background: linear-gradient(30deg,#ff5252 40%,#ff1744 60%);
}
.footer-list ul li a{
    text-decoration: none;
    color: white;
}
.nav-link{
    border-bottom: thin solid #FF000000;
}
.nav-link:hover{
    border-bottom: thin solid white;
}
.search-itens{
    background-color: #FF000000;
    color: white;
    box-shadow: none;
}
.search-itens::placeholder {
    color: white;
  }
.search-itens:focus::placeholder{
    color: grey;
}
.desktop-search .form-control{
    transition: all .3s ease-in-out;
    width: 7vw;
}
.desktop-search .form-control:focus{
    transition: all .3s ease-in-out;
    width: 12vw;
}
.card-img-overlay{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
.card-title.card-title-overlay{
    text-decoration: underline;
}
.card-text.whitered-bg{
    display: inline;
    background-image: linear-gradient(to bottom,white 90%,#b71c1c 10%);
}
.card:hover > img:first-child, .card-img:hover {
    transition: all .1s ease-in-out;
    filter: brightness(85%);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
a.section-title{
    color: #880e4f;
    text-decoration: underline;
}

a.section-title:hover{
    transition: all .3s ease-in-out;
    color: #f50057;
}
.card-section-title{
    display: inline;
    background-color: #b71c1c;
    color: white
}
.card-aside{
    border-style: solid;
    border-width: 4px;
    border-color: #f8bbd0;
}
.card-header-aside{
    background-color: white;
}
a.aside-title{
    transition: all .3s ease-in-out;
    background-color: white;
    color:  #f50057;
    text-decoration: underline;
}
a.aside-title:hover{
    color:  #880e4f;
}
.card-title a{
    color: black;
}
.list-item-aside{
    border-color: #f8bbd0;
}
.button-aside{
    border-color: #f50057;
    color:  #f50057;
}
.button-aside:hover{
    border-color: #f50057;
    background-color: #f50057;
}